<ion-view title="Giang Hồ" id="page3">
  <ion-content padding="true" class="has-header">
    <div id="giangH-container6">
      <div id="giangH-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#A7A510;">Đa tình tự cổ nan di hận,</p>

        <p style="color:#A7A510;">Dĩ hận miên miên vô tuyệt kỳ</p>
      </div>
    </div>
    <button id="giangH-button9" class="button button-positive button-block">Chiến tiếp trận nữa</button>
    <div id="giangH-container8">
      <ion-list id="giangH-list4">
        <ion-item class="item-icon-left" id="giangH-list-item14">
          <i class="icon ion-happy"></i>Phương : 40.000
          <ion-option-button class="button-dark">Núp</ion-option-button>
          <ion-option-button class="button-royal">Chạy</ion-option-button>
          <ion-option-button class="button-assertive">Tố</ion-option-button>
        </ion-item>
        <ion-item class="item-divider" id="giangH-list-item-divider1"> </ion-item>
      </ion-list>
    </div>
    <button id="giangH-button11" class="button button-dark button-block">Về thành dưỡng sức</button>
  </ion-content>
</ion-view>