<ion-view title="Xem và Khóc" id="page4">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="xemVKhC-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#EB4B00;">Túy ngọa sa trường quân mạc tiếu,</p>

      <p style="color:#EB4B00;">Cổ lai chinh chiến kỉ nhân hồi</p>
    </div>
    <ion-list id="xemVKhC-list5">
      <ion-item class="item-divider" id="xemVKhC-list-item-divider2"> Mạt nhật : 21/06/2018 - 12:30'</ion-item>
      <ion-item class="item-divider" id="xemVKhC-list-item-divider3"> #1</ion-item>
      <ion-item class="item-icon-left" id="xemVKhC-list-item18">
        <i class="icon ion-wineglass"></i>Phương</ion-item>
      <ion-item class="item-icon-left" id="xemVKhC-list-item19">
        <i class="icon ion-sad"></i>Lựu</ion-item>
    </ion-list>
    <a ui-sref="tabsController.BCThY()" id="xemVKhC-button13" class="button button-positive button-block">Da ngựa...</a>
  </ion-content>
</ion-view>